*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    outline: none;
}

$colorPrimario: #DA0000;
$colorSecundario: #8C0E0E;
$colorFondo: white;

header{
    width: 100%;
    height: 100px;
    background-color: $colorPrimario;
    display: inline-flex;
    justify-content: space-between;
    padding: 20px;

    h1{
        color: white;
        font-size: 50px;
    }
    span{
        margin: 15px 10px;
        a{
            display: block;
            text-decoration: none;
            color: white;
            outline: none;
        }
    }
}
.container{
    width: 100%;
    height: 100vh;
    background-color: $colorFondo;
    padding: 5px;
    .input_container{
        width: 100%;
        height: 40%;
        .input_task{
            width: 80%;
            height: auto;
            margin: 0 auto;
            position: relative;
            top: 15px;
            background-color: white;
            box-shadow: 3px 3px 20px black;
            padding: 5px;

            @mixin Inputs($height) {
                border: solid black 1px;
                width: 90%;
                height: $height;
                margin: 5px 5%;
                padding: 5px;
            }
            .task_name_container{
                .task_name{
                    @include Inputs(25px);
                    text-align: center;
                }
            }
            .task_description_container{
                .task_description{
                    @include Inputs(auto);
                    resize: none;
                }
            }
            .task_button_container{
                button{
                    background-color: $colorPrimario;
                    color: white;
                    width: 90%;
                    margin: 5px 5%;
                    padding: 10px 0;
                    border: none;
                }
            }
        }

    }
    .task_container{
        width: 100%;
        height: 60%;
        .task_section{
            width: 100%;
            height: 40px;
            background-color: $colorSecundario;
            padding: 10px;
            h3{
                color: white;
                text-align: center;
            }
        }
        .card_tasks_cotainer{
            width: 100%;
            height: 300px;
            margin: 10px 0;
            padding: 10px;
            overflow-x: hidden;
            overflow-y: scroll;
            .card_task{
                width: 100%;
                background-color: white;
                box-shadow: 1px 1px 15px black;
                padding: 5px;
                margin: 10px 0;

                @mixin Task {
                    padding: 5px;
                    width: 80%;
                    height: auto;
                    margin: 5px 10%;
                }

                .title_container{
                    @include Task();
                }
                .description_container{
                    border: solid black 1px;
                    @include Task();
                }
                .button_container{
                    @include Task();
                    .buttons{
                        width: 100%;
                        justify-content: space-between;
                        display: inline-flex;
                        button{
                            border: none;
                            width: 40%;
                            padding: 5px 0;
                            color: white;
                        }
                        .edit{
                            background-color: $colorPrimario;
                        }
                        .delete{
                            background-color: $colorSecundario;
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 640px) and (max-width:767px) {
    .container{
        width: 100%;
        height: 200vh;
        .input_container{
            .input_task{
                width: 60%;
                padding: 15px 5px;
            }
    
        }
        .task_container{
            width: 100%;
            height: 60%;
            .task_section{
                width: 90%;
                margin: 0 5%;
            }
            .card_tasks_cotainer{
                .card_task{
                    width: 80%;
                    margin: 10px 10%;
                }
            }
        }
    }
}
@media (min-width: 768px) and (max-width:1024px) {
    .container{
        .input_container{
            .input_task{
                position: relative;
                top: 25px;
                padding: 10px;
    
                @mixin Inputs($height) {
                    border: solid black 1px;
                    width: 90%;
                    height: $height;
                    margin: 5px 5%;
                    padding: 5px;
                    font-size: 20px;
                }
                .task_name_container{
                    .task_name{
                        @include Inputs(35px);
                    }
                }
                .task_description_container{
                    .task_description{
                        @include Inputs(auto);
                    }
                }
                .task_button_container{
                    button{
                        font-size: 20px;
                    }
                }
            }
    
        }
        .task_container{
            padding: 10px;
            .task_section{
                height: 60px;
                padding: 15px;
                h3{
                    font-size: 30px;
                }
            }
            .card_tasks_cotainer{
                height: 500px;
                .card_task{
                    width: 80%;
                    margin: 20px 10%;
    
                    @mixin Task {
                        font-size: 25px;
                    }
    
                    .title_container{
                        @include Task();
                    }
                    .description_container{
                        border: solid black 1px;
                        @include Task();
                    }
                    .button_container{
                        @include Task();
                        .buttons{
                            button{
                                font-size: 25px;
                            }
                            .edit{
                                background-color: $colorPrimario;
                            }
                            .delete{
                                background-color: $colorSecundario;
                            }
                        }
                    }
                }
            }
        }
    }
}
@media (min-width: 1025px){
    .container{
        padding: 20px;
        display: inline-flex;
        height: 88vh;
        .input_container{
            width: 50%;
            height: 40%;
            .input_task{
                width: 50%;
                position: relative;
                top: 25px;
                .task_button_container{
                    button{
                        cursor: pointer;
                        &:hover{
                            transform: scale(1.01);
                            letter-spacing: 1px;                        }
                    }
                }
            }    
        }
        .task_container{
            width: 50%;
            height: 100%;
            .card_tasks_cotainer{
                height: 500px;
                margin: 10px 0;
                &::-webkit-scrollbar{
                    width: 2px;
                    background: transparent;
                }
                &:hover::-webkit-scrollbar-thumb{
                    width: 2px;
                    background-color: $colorSecundario;
                } 
                .card_task{
                    width: 70%;
                    margin: 20px 15%;
                    .button_container{
                        .buttons{
                            .edit{
                                background-color: $colorPrimario;
                                cursor: pointer;
                                &:hover{
                                    transform: scale(1.2);
                                }
                            }
                            .delete{
                                background-color: $colorSecundario;
                                cursor: pointer;
                                &:hover{
                                    transform: scale(1.2);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}